.main-head {
    color: #183b56;
    font-weight: bold;
    font-size: 25px;
}

.para {
    color: #959ead;
    font-size: 12px;

}

.card-head {
    color: #183b56;
    font-weight: bold;
    font-size: 20px;

}

.link {
    color: #ff9f00;
    font-size: 15px;
}

.card-para {
    color: #959ead;
    font-size: 18px;

}