.bg-container {
    background-color: #1f2933;
}

.main-head {
    color: #cced00;
    font-size: 20px;

}

.paragraph {
    color: #9aa5b1;
    font-size: 20px;
    font-family: "Roboto";
}

.image {
    border-radius: 30px;
    width: 180px;
    height: 200px;
}

.main-para {
    color: #ffffff;
    font-size: 30px;

}

.container1 {
    background-color: #323f4b;
}